<p-dialog
  [modal]="true"
  [dismissableMask]="true"
  header="New Donation"
  [(visible)]="showDialog"
  [style]="{ width: '500px', height: '500px' }"
  (onHide)="onHide()"
>
  <h3>Donor Information:</h3>
  <hr />
  <div class="p-grid ui-fluid">
    <div class="p-col-4">
      Name:
    </div>
    <div class="p-col-8">{{ donor.firstName }} {{ donor.lastName }}</div>

    <div class="p-col-4">
      Donations:
    </div>
    <div class="p-col-8">
      {{ donor.donations.length }}
    </div>

    <div class="p-col-4">
      Joined:
    </div>
    <div class="p-col-8">
      {{ donor.createdAt | date: "short" }}
    </div>
  </div>
<br>
  <h3>Add Donation:</h3>
  <hr />
  <div class="p-grid ui-fluid">
    <div class="p-col-5">
      Is this donation off-site?
    </div>
    <div class="p-col-7">
      <p-inputSwitch [(ngModel)]="isOffsite"> </p-inputSwitch>
    </div>
  </div>

  <div *ngFor="let item of newItems; let i = index">
    <div class="p-grid ui-fluid">
      <div class="p-col-4">
        Type:
      </div>
      <div class="p-col-8">
        <p-dropdown [options]="options" [disabled]="item.id" [(ngModel)]="item.type"></p-dropdown>
      </div>

      <div class="p-col-4">
        Description:
      </div>
      <div class="p-col-8">
        <input
          type="text"
          pInputText
          [(ngModel)]="item.notes"
          [disabled]="item.id"
        />
      </div>

      <div class="p-col-12" *ngIf="isOffsite && !item.id">
          <input
          type="text"
          pInputText
          [(ngModel)]="item.barcodeId"
          placeholder="Barcode"
          [disabled]="item.id"
        />        
      </div>
    </div>
   
    <p-button  *ngIf="!item.id" label="Save" (click)="save(i)">  </p-button>
    <p-button  *ngIf="item.id" label="Barcode: {{item.barcodeId}}"  (click)="printBarcode(item.barcodeId)" ></p-button>
  </div>

</p-dialog>
