<mat-toolbar color="primary">
  <ng-content select=".toggle-btn"></ng-content>
  <div>
    <a [routerLink]="['/portal']">
      <img src="../../../assets/logo-bworks.png" alt="">
    </a>
  </div>
  <div class="d-flex justify-content-end ml-auto">
    <ul class="nav-items d-flex">
      <li *ngIf="!isAuthenticated">
        <a [routerLink]="['/auth/login']" routerLinkActive="active">Login</a>
      </li>
      <li *ngIf="isAuthenticated">
        <a (click)="logout()" style="cursor: pointer;">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
