<p-toolbar>
  <div class="ui-toolbar-group-left">
    <a [routerLink]="['/portal']">
      <img src="../../../assets/logo-bworks.png" alt="" />
    </a>
  </div>

  <div class="ui-toolbar-group-right">
    <span *ngIf="!isAuthenticated">
      <i [routerLink]="['/auth/login']" class="pi pi-sign-in" style="cursor: pointer;font-size: 2em"></i
    ></span>
    <span *ngIf="isAuthenticated">
      <i (click)="logout()" class="pi pi-sign-out" style="cursor: pointer; font-size: 2em"></i>
    </span>
  </div>
</p-toolbar>
