// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import url('//fonts.googleapis.com/icon?family=Material+Icons');


// $primary: mat-palette($mat-green, 500);
// $accent:  mat-palette($mat-lime, 500, A200, A400);
// $warn:    mat-palette($mat-red, 500);

// $config: mat-typography-config();


// $theme: mat-theme($primary, $accent, $warn);

// @include angular-material-theme($theme);

body {
  //font-family: mat-font-family($config);
  font-weight: normal;
  background-color: white;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
