
<div class="p-grid p-align-center mt-5 ">
  <div class="p-col"></div>
  <div class="p-col">
    <p-card header="LOGIN" [style]="{width: '360px'}" styleClass="ui-card-shadow">
      <div class="p-grid ui-fluid" >
          <div class="p-col" >
              <span class="ui-float-label mt-3">
                <input id="float-input-username" type="text" [(ngModel)]="username" size="45" pInputText> 
                <label for="float-input-username">Username</label>
            </span>
          </div>
          <div class="p-col">
            <span class="ui-float-label mt-3">
              <input id="float-input-password" type="password" [(ngModel)]="password" size="45" pInputText> 
              <label for="float-input-password">Password</label>
          </span>
        </div>
      </div>
      <p-footer>
          <button pButton type="button" (click)="login()" label="Login" iconPos="right" icon="pi pi-angle-right" style="margin-right: .25em"></button>
      </p-footer>
    </p-card>
  </div>
  <div class="p-col"></div>

</div>
<p-toast position="bottom-center"></p-toast>


