.fixed-header {
 position: fixed;
 top: 0;
 left: 0;
 z-index: 2;
 width: 100% !important;
}

.bWorks_footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(55, 72, 172);
    color: white;
    text-align: center;
 }
 .content {
    margin: 60px 0 40px;
    height: calc(100vh - 40px - 60px);
     overflow-y:scroll;
    // // overflow-y: auto;
    // overflow-x: hidden;
  }