<div class="container-fluid">
  <div class="row">
<mat-toolbar color="primary" class="fixed-header">
  <span style="cursor: pointer;">
    <img (click)="navToPortal()" src='../../assets/logo-bworks.png'> 
  </span>
  <span class="example-fill-remaining-space"></span>
  <button mat-button (click)="navToPortal()">
      {{isLogedin ? "Logout" : "Login"}}
    </button>
</mat-toolbar>
</div>
<div class="row">
  <div class="col-md-12 content">
  <router-outlet></router-outlet>
</div>
</div>
<div class = "bWorks_footer">
<p><i class="fa fa-copyright" aria-hidden="true"></i> 2019 STLBWorks</p>
</div>
</div>

