table {
  width: 90%;
}

.mat-form-field {
  font-size: 14px;
  width: 90%;
}

.table-container {
  margin: auto;
  width: 90%;
  padding: 10px;
}

th.mat-sort-header-sorted {
  color: black;
}

.my-fab-button {
  position: absolute;
  right: 30px;
  bottom: 15px;
}

.white-text {
  color: white;
}
