<section style="height: 100vh;" class="w-100 d-flex justify-content-center align-items-center">
  <div class="w-75 h-75 d-flex justify-content-center align-items-center mb-5">
    <mat-form-field class="w-50 mr-2">
      <input matInput placeholder="Existing donor? Search by email" [(ngModel)]="email">
    </mat-form-field>
    <button mat-raised-button color="primary" class="mr-2" type="button" (click)="search()">Search</button>
    <button mat-raised-button type="button" (click)="createNewDonor()">New Donor</button>
  </div>
</section>
