<ul class="cards">
  <li class="cards__item" *ngFor="let tile of tiles">
    <div class="card">
      <div class="card__image {{ tile.urlImage }}"></div>
      <div class="card__content">
        <div class="card__title">
          {{ tile.title }}
        </div>
        <p class="card__text">
          {{ tile.description }}
        </p>
        <button (click)="navTo(tile.route)" class="btn btn--block card__btn">
          {{ tile.title }}
        </button>
      </div>
    </div>
  </li>
</ul>
