
  <div class="table-container">

    <p-table #dt [columns]="cols" [value]="users" [paginator]="true" [rows]="10">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns" [ngSwitch]="col.field">
            <input *ngSwitchCase="'vin'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
            <div *ngSwitchCase="'year'">
              Value < {{yearFilter}}
              <i class="fa fa-close" (click)="yearFilter=null;dt.filter(null, col.field, col.filterMatchMode)" style="cursor:pointer" *ngIf="yearFilter"></i>
              <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="yearFilter" [min]="1970" [max]="2010" (onChange)="onYearChange($event, dt)"></p-slider>
            </div>
            <p-dropdown *ngSwitchCase="'brand'" [options]="brands" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
          <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add">Add</button>
        </div>
      </ng-template>
    </p-table>

    <p-dialog header="Car Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
      <div class="ui-g ui-fluid" *ngIf="user">
        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="vin">Vin</label>
          </div>
          <div class="ui-g-8">
            <input pInputText id="vin" [(ngModel)]="user.username" />
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="year">Year</label>
          </div>
          <div class="ui-g-8">
            <input pInputText id="year" [(ngModel)]="user.role" />
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="brand">Brand</label>
          </div>
          <div class="ui-g-8">
            <input pInputText id="brand" [(ngModel)]="user.firstName" />
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="color">Color</label>
          </div>
          <div class="ui-g-8">
            <input pInputText id="color" [(ngModel)]="user.lastName" />
          </div>
        </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete">Delete</button>
          <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save">Save</button>
        </div>
      </p-footer>
    </p-dialog>

  </div>
