<mat-card class="loginBox">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="username">
              <input matInput type="text" placeholder="Username" required name="username" [(ngModel)]="user.username"
                     #usernameInput="ngModel">
              <mat-error *ngIf="loginForm.submitted && !usernameInput.valid">
                Username is required
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="password">
              <input matInput type="password" placeholder="Password" required name="password"
                     [(ngModel)]="user.password"
                     #passwordInput="ngModel">
              <mat-error *ngIf="loginForm.submitted && !passwordInput.valid">
                Password is required
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <button mat-raised-button color="primary" class="btn-primary" type="submit">Login</button>

          </td>
        </tr>
      </table>
    </form>
    <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
  </mat-card-content>
</mat-card>

<!--&lt;!&ndash;<ng-container *ngIf="loading">&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="center-align">&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash; <p-progressSpinner></p-progressSpinner> &ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</ng-container>-->
