<!-- Card container that binds all togather -->
<mat-card class="form-card">
  <!-- Title of an Card -->
  <mat-card-title>
    Create Donation
  </mat-card-title>

  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Donor
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="donationForm" (ngSubmit)="onFormSubmit(donationForm.value)">
        <table>
          <tr>
            <td>
              <mat-form-field class="demo-full-width">
                <input formControlName="FirstName" matInput placeholder="First Name">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!donationForm.get('FirstName').valid && donationForm.get('FirstName').touched">Please enter First Name !!!</span>
              </mat-error>
            </td>
            <td>
              <mat-form-field class="demo-full-width">
                <input formControlName="LastName" matInput placeholder="Last Name">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!donationForm.get('LastName').valid && donationForm.get('LastName').touched">Please enter Last Name !!!</span>
              </mat-error>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <mat-form-field class="demo-full-width">
                <textarea formControlName="Address" matInput placeholder="Address" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
              </mat-form-field>
              <mat-error>
                <span *ngIf="!donationForm.get('Address').valid && donationForm.get('Address').touched">Please enter proper address !!!</span>
              </mat-error>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <mat-form-field class="demo-full-width">
                <input formControlName="DOB" matInput [matDatepicker]="picker" placeholder="Date of birth">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #picker></mat-datepicker>
              </mat-form-field>
              <mat-error>
                <span *ngIf="!donationForm.get('DOB').valid && donationForm.get('DOB').touched">Please select any Date !!!</span>
              </mat-error>
            </td>
          </tr>
          <tr>
            <td>
              <span>Gender</span><br><br>
              <mat-radio-group formControlName="Gender">
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
              </mat-radio-group>
              <mat-error>
                <span *ngIf="!donationForm.get('Gender').valid && donationForm.get('Gender').touched">Please select any gender !!!</span>
              </mat-error>
            </td>
            <td><br>
              <mat-form-field>
                <mat-select formControlName="Blog" placeholder="Select Blog">
                  <mat-option>-- Select Any --</mat-option>
                  <mat-option value="C#Corner">C#Corner</mat-option>
                  <mat-option value="C#Corner">C#Corner</mat-option>
                  <mat-option value="C#Corner">C#Corner</mat-option>
                </mat-select>
                <mat-error>
                  <span *ngIf="!donationForm.get('Blog').valid && donationForm.get('Blog').touched">Please select any item !!!</span>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <mat-form-field class="demo-full-width">
                <input formControlName="Email" matInput placeholder="Email">
                <mat-hint>use like : demo@demo.com</mat-hint>
                <mat-error>
                  <span *ngIf="!donationForm.get('Email').valid && donationForm.get('Email').touched">Enter proper Email !!!</span>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <!--<td colspan="2">-->
            <!--<mat-slide-toggle formControlName="IsAccepted" (change)="onChange($event)">Accept Terms & Conditions</mat-slide-toggle>-->
            <!--</td>-->
          </tr>
          <tr>
            <td colspan="2" class="content-center">
              <button mat-raised-button color="accent" [disabled]="!donationForm.valid || IsAccepted==0">Submit</button>
            </td>
          </tr>
          <tr>
            <td></td>
          </tr>
        </table>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Items
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Age">
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          To Do
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Age">
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          History
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Age">
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>


  <!-- Actual content starts from here -->
  <!--<mat-card-content>-->

  <!--</mat-card-content>-->
</mat-card>
