<!-- Card container that binds all togather -->
<mat-card class="form-card">
  <!-- Title of an Card -->
  <mat-card-title>
    Create Donation
  </mat-card-title>

  <div *ngIf="!needToCreateDonor && !donor">
    <mat-grid-list [cols]="breakpoint" rowHeight="70px">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput [(ngModel)]="searchEmail" placeholder="searchEmail">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <div style="padding-left: 10px">
          <button
            mat-raised-button
            color="primary"
            (click)="searchForEmail()">
            Search
          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <br>
    <mat-checkbox class="example-margin" [(ngModel)]="needToCreateDonor">Create New?</mat-checkbox>
  </div>

  <div *ngIf="needToCreateDonor || donor">
    <form [formGroup]="donorForm">
      <mat-grid-list [cols]="breakpoint" rowHeight="70px">
        <mat-grid-tile>
          <mat-form-field>
            <input formControlName="firstName" matInput placeholder="First Name *">
            <mat-error>
              <span *ngIf="!donorForm.get('firstName').valid && donorForm.get('firstName').touched">First name is required.</span>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="demo-full-width">
            <input formControlName="lastName" matInput placeholder="Last Name *">
            <mat-error>
              <span
                *ngIf="!donorForm.get('lastName').valid && donorForm.get('lastName').touched">Last name is required.</span>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="demo-full-width">
            <input formControlName="zip" matInput placeholder="Zip">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="demo-full-width">
            <input formControlName="email" matInput placeholder="Email *">
            <mat-hint>i.e. demo@demo.com</mat-hint>
            <mat-error>
              <span *ngIf="!donorForm.get('email').valid && donorForm.get('email').touched">Valid email address is required.</span>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>

      <button
        mat-raised-button
        [disabled]="showNextPart"
        (click)="onFormSubmit(donorForm)">
        Save
      </button>

    </form>
  </div>

  <div *ngIf="showNextPart">
    <form>
      <mat-grid-list *ngFor="let item of items; let i = index" [cols]="itemBreakpoint" rowHeight="100px">
        <mat-grid-tile>
          <mat-form-field>
            <mat-select fxFlex [(ngModel)]="item.type" placeholder="Type" name="type{{i}}" required>
              <mat-option value="Bike">
                bike
              </mat-option>
              <mat-option value="PC">
                pc
              </mat-option>
              <mat-option value="Part">
                part
              </mat-option>
              <mat-option value="Misc">
                misc
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="demo-full-width">
            <input name="dflj" [(ngModel)]="item.notes" matInput placeholder="Description">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <div>
            <button mat-raised-button (click)="saveAndGenerate(i)">S & G</button>
          </div>
          <div style="padding-left: 15px">
            <button
              [disabled]="!item.barcodeId"
              mat-raised-button
              (click)="printBarcode(item.barcodeId)">
              ->{{item.barcodeId}}
            </button>
          </div>
        </mat-grid-tile>

      </mat-grid-list>

      <button mat-raised-button
              (click)="addItem()">
        add
      </button>
      <button mat-raised-button
              (click)="deleteItem()">
        delete
      </button>
      <button mat-raised-button
              (click)="finish()">
        finish
      </button>
    </form>

  </div>
</mat-card>
